.toastui-editor-contents h1,
.toastui-editor-contents h2 {
  border-bottom: 0px;
}
.toastui-editor-contents pre{
  background-color: #232428;
  color: white;
}
.toastui-editor-contents, div[contenteditable]{
  font-size: 17px;
}

.toastui-editor-contents pre{
  overflow: auto;
}
.toastui-editor-contents pre code{
  white-space: pre;
}

.toastui-editor-contents pre::-webkit-scrollbar {
	width: 5px;
}
.toastui-editor-contents table::-webkit-scrollbar {
  height: 5px;
}
.toastui-editor-contents table{
  display: block;
  overflow: auto;
}
.toastui-editor-contents a{
  text-decoration: none;
}