.toastui-editor-contents h1,
.toastui-editor-contents h2 {
  border-bottom: 0px;
}
.toastui-editor-contents pre{
  background-color: #232428;
  color: white;
}
.toastui-editor-contents, div[contenteditable]{
  font-size: 17px;
}
/* add opacity in dark mode */
.toastui-editor-dark .toastui-editor-contents,.toastui-editor-dark div[contenteditable]{
  opacity: 70%;
}
.toastui-editor-contents pre{
  overflow: auto;
}
.toastui-editor-contents pre code{
  white-space: pre;
}

.toastui-editor-contents pre::-webkit-scrollbar {
	width: 5px;
}
.toastui-editor-contents table::-webkit-scrollbar {
  height: 5px;
}
.toastui-editor-contents table{
  display: block;
  overflow: auto;
}
.toastui-editor-contents a{
  text-decoration: none;
}


/* https://github.com/nhn/tui.editor/issues/1767 */
@media only screen and (max-width: 700px) {
    .toastui-editor-dropdown-toolbar {
        max-width: none;
        flex-wrap: wrap;
        height: fit-content;
    }
}
