.toastui-editor-contents h1,
.toastui-editor-contents h2 {
  border-bottom: 0px;
}

.toastui-editor-contents h1{
  line-height: 35px !important;
}

.toastui-editor-contents h2{
  line-height: 27px !important;
}
.toastui-editor-contents h3{
  line-height: 24px !important;
}

.toastui-editor-contents pre{
  background-color: #232428;
  color: white;
}
.toastui-editor-contents, div[contenteditable]{
  font-size: 17px;
}
/* add opacity in dark mode */
.toastui-editor-dark .toastui-editor-contents,.toastui-editor-dark div[contenteditable]{
  opacity: 70%;
}
.toastui-editor-contents pre{
  overflow: auto;
}
.toastui-editor-contents pre code{
  white-space: pre;
}

.toastui-editor-contents pre::-webkit-scrollbar {
	width: 5px;
}
.toastui-editor-contents table::-webkit-scrollbar {
  height: 5px;
}
.toastui-editor-contents table{
  display: block;
  overflow: auto;
}
.toastui-editor-contents a{
  text-decoration: none;
}

/* https://github.com/nhn/tui.editor/issues/1767 */
@media only screen and (max-width: 700px) {
    .toastui-editor-dropdown-toolbar {
        max-width: none;
        flex-wrap: wrap;
        height: fit-content;
    }
}

/* https://github.com/nhn/tui.editor/issues/1735 */
@media only screen and (max-width: 700px) {
    .toastui-editor-popup {
        margin-left:0px !important;
        left:0px !important;
    }
}

/* https://stackoverflow.com/questions/69689762/katex-math-is-not-rendering-perfectly-in-react */
.katex-display{
	text-align:left !important;
}
.katex-display>.katex{
	text-align:left !important;
}

/* make some styling for inline math  in heading and text */
/* h1 */
.toastui-editor-contents h1 .katex-display {
  display: inline !important;
}
.toastui-editor-contents h1 .katex-display > .katex {
  display: inline !important;
}
.toastui-editor-contents h1 .katex-display > .katex > .katex-html {
  display: inline !important;
}

/* h2 */
.toastui-editor-contents h2 .katex-display {
  display: inline !important;
}
.toastui-editor-contents h2 .katex-display > .katex {
  display: inline !important;
}
.toastui-editor-contents h2 .katex-display > .katex > .katex-html {
  display: inline !important;
}

/* h3 */
.toastui-editor-contents h3 .katex-display {
  display: inline !important;
}
.toastui-editor-contents h3 .katex-display > .katex {
  display: inline !important;
}
.toastui-editor-contents h3 .katex-display > .katex > .katex-html {
  display: inline !important;
}

/* h4 */
.toastui-editor-contents h4 .katex-display {
  display: inline !important;
}
.toastui-editor-contents h4 .katex-display > .katex {
  display: inline !important;
}
.toastui-editor-contents h4 .katex-display > .katex > .katex-html {
  display: inline !important;
}

/* h5 */
.toastui-editor-contents h5 .katex-display {
  display: inline !important;
}
.toastui-editor-contents h5 .katex-display > .katex {
  display: inline !important;
}
.toastui-editor-contents h5 .katex-display > .katex > .katex-html {
  display: inline !important;
}

/* h6 */
.toastui-editor-contents h6 .katex-display {
  display: inline !important;
}
.toastui-editor-contents h6 .katex-display > .katex {
  display: inline !important;
}
.toastui-editor-contents h6 .katex-display > .katex > .katex-html {
  display: inline !important;
}

/* p */
.toastui-editor-contents p .katex-display {
  display: inline !important;
}
.toastui-editor-contents p .katex-display > .katex {
  display: inline !important;
}
.toastui-editor-contents p .katex-display > .katex > .katex-html {
  display: inline !important;
}
